
@import url('https://fonts.googleapis.com/css?family=Poppins:400,600,700,800,900&display=swap');

.rotas{
    text-align: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    display: flex;
    background: #e2e2e2;
    width: 100%;
    height: 400px;
}
