
@import url('https://fonts.googleapis.com/css?family=Poppins:400,600,700,800,900&display=swap');

.rotas{
    text-align: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    background: white;
    display: flex;
    margin-top: 40px;
    padding-top: 0;
    flex-direction: column;
    width: 100%;
}