@import url('https://fonts.googleapis.com/css?family=Poppins:400,600,700,800,900&display=swap');


  
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .sticky + .content {
    padding-top: 102px;
  }


.topo_info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: #2CC185;
    font-family: 'Poppins', sans-serif;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

.topo_info .left{
    padding-left: 5vw;
}

.topo_info .right{
    width: 100%;
    text-align: right;
}

.topo_info .right label{
    margin-right: 5vw;
}

.header{
    display: flex;
    flex-direction: row;
    background-color: white;
    padding-top: 20px;
    padding-left: 6%;
    padding-right:8%;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0.19);
    width: 100%;
    z-index: 10000;
}

.toggle label{
    color: white;
    font-size: 16px;    
    display: none;
    font-family: 'Poppins', sans-serif;
    text-align: justify;
    opacity: 0.5;
    
}

.menu{
    margin-right: 10vw;
    margin-bottom: 15px;
    margin-top: -6px;
}
.toggle span{
    padding-right: 2px;
    font-size: 20px;
}

#toggle{
    display: none;
}


@media only screen and (max-width:991px){
  
   .header{
       display: grid;
       grid-template-columns: 11fr 1fr;
       z-index: 1000;
   }
   
   .menu{
       padding-top: 20px;
       color: #161616;
       display: none;
      
   }
    .toggle label{
        display: flex;
        cursor: pointer;
        flex-direction: row;
        margin-top: -6px;
        z-index: 10000;
    }

    .toggle a{
       margin-top: 3.8px;
       margin-left: 2px;
    }

    .menu a{
        display: block;
       
    }
    

    #toggle:checked + .menu{
        display: block;
       
    }
}

@media only screen and (max-width: 671px){
    .topo_info{
        display: flex;
        flex-direction: column;   
        text-align: center;
    }
    .topo_info .left{
        padding-left: 0vw;
    }
    .topo_info .right{
        width: 100%;
        text-align: center;
    }
    .topo_info .right label{
        padding-top: 10px;
        margin-right: 0vw;
    }
    
}



.header .brand_header a{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #191919;
    cursor: pointer;
    text-decoration: none;
    font-size: 20px;
}

.brand_header .name{
    padding-top: 6px;
    padding-left: 8px;
}
.header .brand_header img{
    width: 35px;
    height: 35px;
}

.brand_header{
    flex-grow: 1;
    display:flex;
    margin-top: -13px;
    padding-bottom: 10px;
    flex-direction: row;
}

.header ul{
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

.header li{
    margin-right: 2vw;
    display: inline;
    cursor: pointer;
    
}

.header .nave .active, .header .nave a:hover{
    border-bottom: 2px solid #2CC185;
    padding-bottom: 5px;
}
.header .nave .active, .header .nave .active:hover{
    color:#2CC185;
}
