
@import url('https://fonts.googleapis.com/css?family=Poppins:400,600,700,800,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    background: #d3dbde;
}


.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}
.sticky + .main{
    padding-top: 102px;
  }